{% extends 'base.html' %}
{% load static%}
{% block head %}
    <title>Buy the Best</title>
{% endblock head %}

{% block main %}
<div class="container-fluid">
    <div class="row">
         {% comment %} search results container  {% endcomment %}
        <div class="products-result-container col-12 col-md-8 col-lg-9 col-xg-10">
             {% comment %} inner container for search results {% endcomment %}
            <div class="products-result row justify-content-start shadow-sm rounded">

            {% for product in products %}
                {% comment %} Product box for show img, price & details of a product {% endcomment %}
                <div class="product-box col-12 col-md-4 col-lx-3">
                    <article class="product">
                        {% comment %} Box for product offer title , Super discount or something else {% endcomment %}
                        <div class="product-box--offer-container">

                        </div>
                        {% comment %} Product img container {% endcomment %}
                        <div class="product-box--img-container w-100">
                            <img src="{{media}}{{ product.main_img }}" alt="" class="product-box--img">
                        </div>
                        {% comment %} Product title container {% endcomment %}
                        <div class="product-box--title-container p-2">
                            <a href="/search/p{{product.id}}-{{product.slug}}" class=>
                                <h2 class="product--box--title fs-6">{{product.title}}</h2>
                            </a>
                        </div>
                        {% comment %} Product Description container {% endcomment %}
                        <div class="product-box--description">
                            {% comment %} Container for product price and discount & .... {% endcomment %}
                            <div class="product-box--description__price--container">
                                {% comment %} container for price after discount {% endcomment %}
                                <div class="product-box--description__new-price">
                                    {% if product.discount != 0 %}
                                    <span class="fs-5 f-jetbrains">{{ product.new_price }}</span>&nbsp;<span class="fs-5 f-robot">$</span><span class="product-discount-badge">{{product.discount}}%</span>
                                    {% else %}
                                    <span class="fs-5 f-jetbrains">{{ product.new_price }}</span>
                                    {% endif %}
                                </div>
                                {% comment %} container for discount before discount {% endcomment %}
                                <div class="product-box--description__old-price">
                                    <del class="text-muted"><span class="fs-6">{{product.price}}</span></del>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- Search filter container -->
        <div class="product-filter-conatiner col-md-4 col-lg-3 col-xg-2">
            <div class="product-filter shadow-sm">
s
            </div>
        </div>
    </div>
</div>




{% endblock main %}

{% block script %}{% endblock script %}