{% extends 'base.html' %}
{% load static%}
{% block head %}
    <title>Buy the Best</title>
{% endblock head %}

{% block main %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- search results container -->
            <div class="products-result-container col-12 col-md-7 col-lg-8">
                <!-- inner container -->
                <div class="products-result shadow-sm rounded">
                    <!-- Product box for show img, price & details -->
                    <div class="product-box shadow-sm rounded col-1 col-md-4 col-xg-3">
                        <!-- Product img -->
                        <div class="product-img w-100 bg-danger">
                            s
                        </div>
                        <!-- Product title -->
                        <div class="product-title">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Search filter container -->
            <div class="product-filter-conatiner col-md-5 col-lg-4">
                <div class="product-filter shadow-sm rounded">
    s
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock main %}

{% block script %}{% endblock script %}