.f-encode{
    font-family: 'Encode Sans', sans-serif;
}
.f-jetbrains{
    font-family: 'JetBrains Mono', monospace;
}
.f-robot{
    font-family: 'Roboto', sans-serif;
}
*{
    font-family: 'Roboto', sans-serif;
}
.products-result , 
.product-filter{
    min-height: 300px;
    padding:0.6rem 1rem;
}
.product-box{
    position: relative;
    flex: 0 1 270px;
    height:400px;
    overflow:hidden;
}
.product-box--offer-container{
    height:26px;
}
.product-box--img-container{
    height:250px;
    display: flex;
}
.product-box--img{
    max-width:100%; 
    margin: 0 auto;
}
.product-box--title-container > a{
    color:rgb(61, 61, 61);
    text-decoration:none;
}
.product-box--description__price--container{
    width: 100%;
    min-height:70px;
    padding:0.1rem 0.6rem;
}
.product-discount-badge{
    padding:8px 5px;
    margin: 0 12px;
    background-color:rgb(248, 16, 16);
    color:#fff;
    font-size:0.7rem;
    border-radius: 50%;
    font-family: 'JetBrains Mono', monospace;

}